<div class={{if fixtableClass (concat 'fixtable ' fixtableClass) 'fixtable'}}>
  <div class="fixtable-header"></div>
  <div class="fixtable-filters"></div>
  <div class="fixtable-inner">
    <table class={{if tableClass (concat 'table ' tableClass) 'table'}}>
      <thead>
        <tr class="fixtable-column-headers">
          {{#each columns as |column|}}
            <th>
              <div>
                {{if column.header column.header column.key}}
              </div>
            </th>
          {{/each}}
        </tr>
        <tr class="fixtable-column-filters">
          {{#each columns as |column|}}
            <th>
              {{#if column.filter}}
                <div>
                  <div class='form-group'>
                    <div class='input-group'>
                      {{#if (equals column.filter.type 'select')}}
                        <select class="form-control" onchange={{action (mut (get filters column.key)) value="target.value"}}>
                          <option value=""></option>
                          {{#each column.filter.selectOptions as |choice|}}
                            <option value={{choice.value}} selected={{equals (get filters column.key) choice}}>{{choice.value}}</option>
                          {{/each}}
                        </select>
                      {{else}}
                        {{input class='form-control' type='search' aria-label="Filter by column"
                          value=(mut (get filters column.key))}}
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                      {{/if}}
                    </div>
                  </div>
                </div>
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#unless isLoading}}
          {{#each visibleContent as |row|}}
            <tr>
              {{#each columns as |column|}}
                <td class={{column.cellClass}}>
                  {{#if column.component}}
                    {{!-- render the passed-in component --}}
                    {{component column.component dataRow=row columnDef=column}}
                  {{else}}
                    {{!-- directly render the cell --}}
                    {{get-prop row column.key}}
                  {{/if}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/unless}}
      </tbody>
    </table>
    <div class="fixtable-centered">
      {{#if isLoading}}
        <i class="fa fa-refresh fa-spin fa-4x fa-fw" aria-hidden="true"></i>
        <span class="sr-only">Loading...</span>
      {{/if}}
    </div>
  </div>
  {{#if showPaging}}
    <div class="fixtable-footer">
      <span>Page</span>
      <button type="button" class="btn btn-default" aria-label="Previous Page" {{action 'goToPreviousPage'}}>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      {{input class="form-control" value=currentPage}}
      <button type="button" class="btn btn-default" aria-label="Next Page" {{action 'goToNextPage'}}>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
      <span>of {{totalPages}}</span>

      <span class="pull-right">
        <select class="form-control" onchange={{action (mut pageSize) value="target.value"}}>
          {{#each pageSizeOptions as |choice|}}
            <option value={{choice}} selected={{equals pageSize choice}}>{{choice}}</option>
          {{/each}}
        </select>
        <span>
          items per page
        </span>
      </span>
    </div>
  {{/if}}
</div>
