<div class={{if fixtableClass (concat 'fixtable ' fixtableClass) 'fixtable'}}>
  <div class="fixtable-header"></div>
  <div class="fixtable-filters">
    {{#if showManualFilterButtons}}
      {{#if filtersAreDirty}}
        <button type="button" class="btn btn-primary" {{action 'applyManualFilter'}}>Apply</button>
      {{/if}}
      {{#if filtersAreActive}}
        <button type="button" class="btn btn-primary" {{action 'clearManualFilter'}}>Clear</button>
      {{/if}}
    {{/if}}
  </div>
  <div class="fixtable-inner">
    <table class={{if tableClass (concat 'table ' tableClass) 'table'}}>
      <thead>
        <tr class="fixtable-column-headers">
          {{#if rowSelection}}
            <th>
              <div class="fixtable-checkbox">
                {{input type="checkbox" checked=selectAllToggle}}
              </div>
            </th>
          {{/if}}
          {{#each columns as |column|}}
            <th>
              {{#if column.sortable}}
                <div class="clickable" {{action 'sortColumn' column.key}}>
                  {{if column.header column.header column.key}}
                  {{#if (equals column.key sortBy)}}
                    {{#if sortAscending}}
                      <span class="caret caret-up"></span>
                    {{else}}
                      <span class="caret"></span>
                    {{/if}}
                  {{/if}}
                </div>
              {{else}}
                <div>
                  {{if column.header column.header column.key}}
                </div>
              {{/if}}
            </th>
          {{/each}}
        </tr>
        <tr class="fixtable-column-filters">
          {{#each columns as |column|}}
            <th>
              {{#if column.filter}}
                <div>
                  <div class='form-group'>
                    <div class='input-group'>
                      {{#if (equals column.filter.type 'select')}}
                        <select class="form-control" onchange={{action (mut (get filters column.key)) value="target.value"}}>
                          <option value=""></option>
                          {{#each column.filter.selectOptions as |choice|}}
                            <option value={{choice.value}} selected={{equals (get filters column.key) choice.value}}>{{choice.value}}</option>
                          {{/each}}
                        </select>
                      {{else}}
                        {{input class='form-control' type='search' aria-label="Filter by column"
                          value=(mut (get filters column.key))}}
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                      {{/if}}
                    </div>
                  </div>
                </div>
              {{/if}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#unless isLoading}}
          {{#each visibleContent as |row rowIndex|}}
            <tr class={{if (get selectedRows (concat '' rowIndex)) 'active'}}>
              {{#if rowSelection}}
                <td>
                  <div class="fixtable-checkbox">
                    {{!-- we need concat here to convert rowIndex into a string for the get helper --}}
                    {{input type="checkbox" checked=(mut (get selectedRows (concat '' rowIndex)))}}
                  </div>
                </td>
              {{/if}}
              {{#each columns as |column|}}
                <td class={{column.cellClass}}>
                  {{#if column.component}}
                    {{!-- render the passed-in component --}}
                    {{component column.component dataRow=row columnDef=column}}
                  {{else}}
                    {{!-- directly render the cell --}}
                    {{get row column.key}}
                  {{/if}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/unless}}
      </tbody>
    </table>
    <div class="fixtable-centered">
      {{#if isLoading}}
        <i class="fa fa-refresh fa-spin fa-4x fa-fw" aria-hidden="true"></i>
        <span class="sr-only">Loading...</span>
      {{else}}
        {{#unless visibleContent.length}}
          <h4>No data available</h4>
        {{/unless}}
      {{/if}}
    </div>
  </div>
  {{#if showPaging}}
    <div class="fixtable-footer">
      <span>Page</span>
      <button type="button" class="btn btn-default" aria-label="Previous Page" {{action 'goToPreviousPage'}} disabled={{equals currentPage 1}}>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </button>
      {{input type="number" class="form-control" value=currentPage}}
      <button type="button" class="btn btn-default" aria-label="Next Page" {{action 'goToNextPage'}} disabled={{equals currentPage totalPages}}>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
      <span>of {{totalPages}}</span>

      <span class="pull-right">
        <select class="form-control" onchange={{action (mut pageSize) value="target.value"}}>
          {{#each pageSizeOptions as |choice|}}
            <option value={{choice}} selected={{equals pageSize choice}}>{{choice}}</option>
          {{/each}}
        </select>
        <span>
          items per page
        </span>
      </span>
    </div>
  {{/if}}
</div>
