<button type="button" class="btn btn-primary" {{action 'toggleLoading'}}>
  Toggle Loading
</button>
<div>Total Rows: {{model.dataRows.length}}</div>

<h3>No Paging</h3>
<div class="row">
  <div class="col-md-6">
    {{fixtable-grid columns=model.columnDefs content=model.dataRows
      fixtableClass='restrict-height' tableClass='table-hover'
      isLoading=dataIsLoading}}
  </div>
</div>

<h3>Client Paging</h3>
<div class="row">
  <div class="col-md-6">
    {{fixtable-grid columns=model.columnDefs content=model.dataRows
      fixtableClass='restrict-height' tableClass='table-hover'
      isLoading=dataIsLoading clientPaging=true}}
  </div>
</div>

{{!--
<h3>Server Paging</h3>
<div class="row">
  <div class="col-md-6">
    {{fixtable-grid columns=model.columnDefs content=model.dataRows
      fixtableClass='restrict-height' tableClass='table-hover'
      isLoading=dataIsLoading serverPagingOptions={} }}
  </div>
</div>
--}}
